In [1]:
def f(*args):
    for i in args:
        print(i)

f([1,2,3,4])

[1, 2, 3, 4]

In [2]:
a = [1,2,3]
b = [4,5,[6,6,6]]

c = [*a, *b]
c

[1, 2, 3, 4, 5, [6, 6, 6]]

In [3]:
a[0] = 999
b[-1][-1] = 999999

c

[1, 2, 3, 4, 5, [6, 6, 999999]]

In [4]:
def example_function(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

example_function(name="Alice", age=30, city="New York")

name Alice
age 30
city New York